{% extends 'base.html.twig' %}

{% block title %}Evénements
{% endblock %}

{% block body %}
	{% include "template_parts/_header.html.twig" %}
	<main>
		<header>Les filtres</header>
		<section>
			<article>
				<img  src="{{asset('images/couscous.png')}}" alt="">
			</article>
				<article>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
				</article>
			<article >
				<img  src="{{asset('images/couscous.png')}}" alt="">
				
			</article>
			<article>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
				</article>
				
			<article>
				<img src="{{asset('images/couscous.png')}}" alt="">
				</article>
				<article>
					<p >Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
				</article>
			
		</section>
	</main>
	<footer>
		<article></article>
	</footer>
{% endblock %}
